<body>
<table border="1">
    <tr>
        <td>No.</td>
        <td>Category</td>
        <td>Product</td>
        <td>Price</td>
        <td>Description</td>
    </tr>
    {% set no = 1 %}
    {% for item in products %}
    <tr>
        <td>{{ no }}</td>
        <td>{{ item.category.name }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.description }}</td>
    </tr>
    {% set no = no+1 %}
    {% endfor %}
</table>
</body>